
// Spacing
.u__space__outer {
  @include fluid-units (
    'padding-left' 'padding-right',
    $outside-min,
    $outside-max,
    $min-vw,
    $max-vw,
    1rem
  );
}

.u__space__inner {
  @include fluid-units (
    'padding-left' 'padding-right',
    $inside-min,
    $inside-max,
    $min-vw,
    $max-vw,
    1rem
  );
}

.u__space__vertical {
  @include fluid-units (
    'padding-top' 'padding-bottom',
    $vertical-min,
    $vertical-max,
    $min-vw,
    $max-vw,
    1rem
  );
}

.u__space__vertical--top {
  @include fluid-units (
    'padding-top',
    $vertical-min,
    $vertical-max,
    $min-vw,
    $max-vw,
    1rem
  );
}

.u__space__vertical--bottom {
  @include fluid-units (
    'padding-bottom',
    $vertical-min,
    $vertical-max,
    $min-vw,
    $max-vw,
    1rem
  );
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}
