// Helpers
@function bp-px($bp) {
  @return map-get($project-breakpoints, $bp);
}

@function bp($bp) {
  @return em(map-get($project-breakpoints, $bp));
}


//
// Breakpoints
//
$project-breakpoints: (
  // List as unitless pixels
  base: 440,  // 620-440= 180
  small: 620,  // 760-620= 140
  medium: 760,  // 980-760= 220
  large: 980,  // 1380-980= 400
  x-large: 1380, // 1880-1380 = 500
  xx-large: 1880
);

$project-maxwidths: (
  base: 1380,
  text: 800
);

// For responsive typography
// Declare a minimum and maximum viewport size for fluidity to happen within
$min-vw: strip-unit(bp(small));
$max-vw: strip-unit(bp(x-large));

$maxwidth-container: em(map-get($project-maxwidths, base));
$maxwidth-text: em(map-get($project-maxwidths, text));
