# Mac image stores
.DS_Store

# Editor files & caches
/.nova
/.sass-cache

# Build files that aren't needed
node_modules/
/src/scss/libraries/neat/
/src/scss/libraries/bourbon/
/src/css/styles.css.map
