html,
body {
  font-family: 'Cabin', sans-serif;
}

/* General Column */
.color-ratios--column {
  float: left;
  width: 33.33%
}

/* Individual Color Swatches */
.color-ratios--swatch {
  border: 2px solid black;
  color: white;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px;
  text-align: center;
  width: 60px;
}

/* Styles output red if contrast ratio fails */
.fail {
  background-color: red;
}

/* Styles output green if contrast ratio passes */
.pass {
  background-color: green;
}
