// Custom file upload field styles adapted from
// http://wtfforms.com/
.image-upload {

  form {
    padding: 1rem 0;
  }

  label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 2.5rem;

    input {
      min-width: 14rem;
      margin: 0;
      filter: alpha(opacity=0);
      opacity: 0;
    }
  }

  .file-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: .075rem solid #ddd;
    border-radius: .25rem;
    box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:before {
      position: absolute;
      top: -.075rem;
      right: -.075rem;
      bottom: -.075rem;
      z-index: 6;
      display: block;
      content: "Browse";
      height: 2.5rem;
      padding: .5rem 1rem;
      line-height: 1.5;
      color: #555;
      background-color: #eee;
      border: .075rem solid #ddd;
      border-radius: 0 .25rem .25rem 0;
    }
    &:after {
      content: "Choose file...";
    }
  }

  .image-preview {
    padding: 1rem 0;
  }

  .derived-palette {
    padding-bottom: 1rem;

    .swatch {
      display: inline-block;
      width:25px;
      height:25px;
    }
  }
}
