//
// Color system
//

$white: #fff;
$black: #1a1818; // slightly warm black h0 s5 b10

// Oomph color palette
$project-colors: (
  red: #d62901,
  teal: #70BDC1,
  blue: #4a7090,
  denim: #2d5070,
  orange: #e89424,
  green: #008a65,
  white: $white,
  grey-100: #f8f2f2, // h0 s2 b97
  grey-300: #b8aeae, // h0 s5 b72
  grey-400: #aaa2a2, // h0 s5 b65
  grey-700: #474444, // h0 s5 b28
  grey-800: #333030, // h0 s5 b20
  black: $black,
  blackest: #0f0e0e
);

// Helper
@function palette($color) {
  @return map-get($project-colors, $color);
}


// Project colors
$project-color-body-bg__dark: palette(blackest);
$project-color-main-bg__dark: palette(black);
$project-color-body-fg__dark: palette(grey-400);

$project-color-body-bg__light: palette(white);
$project-color-main-bg__light: palette(grey-100);
$project-color-body-fg__light: palette(grey-800);

// Links
$link-color__dark: palette(teal); 
$link-decoration: underline;
$link-hover-color__dark: palette(grey-100);
$link-hover-decoration: none;

$link-color__light: palette(blue); 
$link-hover-color__light: palette(grey-800);

// Other 
$code-color__dark: palette(green);

$border-color__dark: rgba($white, 0.15);
$border-color__light: rgba($black, 0.15);

$pass__dark: #14cc45;
$fail__dark: #f23900;
$edge__dark: #fe6;

$pass__light: #0b8428;
$fail__light: #c63606;
$edge__light: #b45e09;
