.input-history {

  padding-bottom: 1rem;

  h3 {
    span {
      color: $link-color__dark;
      font-size:x-small;
      cursor:pointer;
    }
  }

  .palette-set {
    margin: $vertical-min 0;

    .swatch {
      height: 15px;
      width: 15px;
      display: inline-block;
      margin: 0;

      &__delete {
        cursor: pointer;
        margin-left: .5rem;
      }
    }

    button {
      margin-left: $outside-min;
      font-size: small;
    }

  }


}
