/*Simple css to style it like a toggle switch*/
/*
<div class="theme-switch">
  <div class="theme-switch__wrapper">
    <label class="theme-switch__label" for="checkbox">
      <input type="checkbox" id="checkbox" />
      <div class="theme-switch__slider round"></div>
    </label>
    <span class="theme-switch__status">Change Mode</span>
  </div>
</div>
*/
.theme-switch {
  display: flex;
  flex-direction: row-reverse;

  &__wrapper {
    display: flex;
    align-items: center;
    width:200px;

    span {
      margin-left: 10px;
      font-size: 1rem;
    }
  }

  &__label {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;

    input {
      display:none;
    }
  }

  &__slider {
    background-color: palette(grey-300);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;

    &:before {
      background-color: palette(white);
      bottom: 4px;
      content: "";
      height: 26px;
      left: 4px;
      position: absolute;
      transition: .4s;
      width: 26px;
    }
  }

  input:checked + .theme-switch__slider {
    background-color: palette(green);
  }

  input:checked + .theme-switch__slider:before {
    transform: translateX(26px);
  }

  .theme-switch__slider.round {
    border-radius: 34px;
  }

  .theme-switch__slider.round:before {
    border-radius: 50%;
  }
}


