// @file layout.scss
.cc-main {
  padding: 1rem 2rem;
}

$gutter: 1rem;

%container-margin {
  margin-left: - $gutter;
  margin-right: - $gutter;
}

%column-padding {
  padding-left: $gutter;
  padding-right: $gutter;
}

.container {
  @extend %container-margin;
}

.column {
  @extend %column-padding;
  padding-bottom: $vert-line-height;
}

.text__col {
  max-width: rem(1200);
  margin: 0 auto;
}

.layout__two-col {
  @extend %container-margin;

  @include media($small-up) {
    @include display(flex);
    @include flex-flow(row wrap);
    @include align-items(flex-start);
    
    .column {
      width: 50%;
    }
  }
}
