// @file settings.scss

// Grid Settings
$grid-columns: 12;
$min-width: em(320);
$max-width: em(1366);
$visual-grid: false;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;
$visual-grid-color: pink;