.clr-f-img {

  .form__label {
    display: block;
  }

  &__preview {

    &:not(:empty) {
      padding: var(--spacer__x--fluid) 0;
    }

    img {
      height: auto;
      max-height: em(288);
      max-width: 100%;
    }
  }
}
