.clr-f-img {

  &__preview {
    img {
      height: auto;
      width: 100%;
    }
  }

  &__swatches {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-flow: row nowrap;

    .swatch {
      display: block;
      flex: 1 1 auto;
      height: 2em;
    }
  }
}
