.results {

  &__title {
    color: var(--theme__fg--accent);
    font-family: var(--ff__sans);
    font-weight: var(--fw__light);
    letter-spacing: var(--ls__base);
    padding-bottom: 0.75em;

    span {
      transition: var(--transition-base__sm);
    }

    span:nth-child(2) {
      // Has content when a user chasnges the HSL values
      margin-left: 0.5em;
    }

    span.--modified {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }

  &__list {}

  &__item {
    border-bottom: 1px solid var(--theme__border);
    margin-bottom: 2em;
    padding-bottom: 0.5em;
  }

  &__row {
    padding-bottom: 1.5em;
  }

  &__col {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row nowrap;
  }

  &__details {
    margin-left: var(--spacer__y--fluid);

    a {
      color: var(--theme__fg);
    }

    dl {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-flow: row wrap;

      dt {
        flex: 1 0 2em;

        svg {
          width: 1em;
          height: 1em;
        }
      }

      dd {
        color: var(--theme__fg--accent);
        flex: 1 0 calc(100% - 2em);
      }
    }

    input {
      margin-top: -0.5em;
      width: 75%;
    }
  }
}

.conformance {
  &__failure {
    color: var(--theme__ratio-fail);
  }

  &__success {
    color: var(--theme__ratio-pass);
  }
}

.hsl {

  &__original,
  &__mod {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;

    p {
      margin-left: var(--spacer__y--fluid);
    }
  }

  // Uneditable display of the original HSL values
  &__original {
    //display: none;

    a {
      color: var(--theme__fg--accent);
    }
  }

  // Editable display of the HSL values
  &__mod {
    //display: none;
  }

  &__controls {
    input {
      padding: 0.5em 0.25em;
      width: 4em;
    }
  }
}
