/* ! ===== Colorcube Form element ===== */
.cc-form {
  
  &__submit {
    text-align: center;
    padding: $vert-line-height/2 0;
  }
}


/* ! ===== Results ===== */
.results {}

.color-ratios {
  @include clearfix;

  &--column {
    float: left;
    width: 25%
  }

  /* Individual Color Swatches */
  &--swatch {
    border: 2px solid black;
    color: white;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
    text-align: center;
    width: 60px;
    
    &.most-legible {
      float: left;
      font-weight: $font-weight-bold;
      margin-right: 10px;
      width: calc(100% - 70px);
    }
  }

  .fail {
    background-color: red;
  }
  
  .pass {
    background-color: green;
  }
  
  .edge {
    background-color: yellow;
    color: black;
  }
  
  &--most-legible {
    .fail,
    .pass,
    .edge {
      display: inline-block;
    }
  }
}