/// show/hide() =
/// Provide a more complete show/hide option over using display: none
/// @author jhogue
///
/// @param {String} $display [block]
///   valid display property
///
/// @example scss - Usage
///   // @include show()
///
/// @example css - Output
///   // display: block;
///   // visibility: visible;
///
@mixin show($display: block) {
  display: $display;
  visibility: visible;
}

/// @author jhogue
///
/// @param {None}
/// 
/// @example scss - UsAGE
///   // @include hide()
///
/// @example css - Output
///   // display: none;
///   // visibility: hidden;
///
@mixin hide() {
  display: none;
  visibility: hidden;
}
